* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: normal;
  background-color: #ededf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34373f;
  padding: 10px 20px;
}

.left-section {
  display: flex;
  align-items: center;
}

.name {
  font-size: 24px;
  background-color: #91cacb;
  color: #34373f;
  padding: 8px 12px;
  margin-right: 20px;
  border-radius: 5px;
}

.right-section .nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.right-section .nav-items li {
  display: inline;
  margin-right: 10px;
}

.right-section .nav-items li a {
  text-decoration: none;
  color: #91cacb;
  font-size: 20px;
}

.hero-banner {
  background: linear-gradient(#0084ff57, #0084ff57), url(../images/02-hero-bg.jpg) center no-repeat;
  background-size: cover;
  min-height: 250px;
  margin-bottom: 40px;
  height: 300px;
  position: relative;
  margin-bottom: 30px;
}

.text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #91cacb;
  color: #34373f;
  padding: 10px;
}

.text h2 {
  font-size: 36px;
  margin: 0;
}

.about-container {
  display: flex;
  margin-bottom: 45px;
}

.about-title {
  color: #465874;
  border-right: 7px solid #465874;
  padding-right: 20px;
  float: left;
  margin: 0 1.5%;
  margin-left: 8%;
  font-size: 30px;
  width: 15%;
}

.about-content {
  width: 100%;
  font-size: 20px;
  margin-right: 8%;
}

.work-container {
  display: flex;
  margin-bottom: 45px;
}

.work-title {
  color: #465874;
  border-right: 7px solid #465874;
  padding-right: 20px;
  float: left;
  margin: 0 1.5%;
  margin-left: 8%;
  font-size: 30px;
  width: 15%;
}

.work-content {
  width: 100%;
  font-size: 20px;
  margin-right: 8%;
}

/* Portfolio Container */
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.project-list .project:nth-child(1) {
  flex: 1 1 100%;
}

.project-list .project:nth-child(1) .project-wrap {
  height: 400px;
}

.project {
  flex: 1 1 50%;
}

.project-wrap {
  position: relative;
  padding: 20px;
  margin: 10px;
  height: 300px;
  border: 3px solid #465874;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

.project-wrap:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.project:nth-child(1) .project-wrap {
  background-image: url(../images/placementfinder.png);
  background-position: top;
}

.project:nth-child(2) .project-wrap {
  background-image: url(../images/parcelpal.png);
  background-position: top;
}

.project:nth-child(3) .project-wrap {
  background-image: url(../images/01-html-css-git-challenge-demo.png);
  background-position: top;
}

.project:nth-child(4) .project-wrap {
  background-image: url(../images/password_generator.png);
  background-position: center;
}

.project:nth-child(5) .project-wrap {
  background-image: url(../images/quiz.png);
  background-position: top;
}

.project-content {
  display: inline-block;
  padding: 10px 10px 10px 15px;
  position: absolute;
  bottom: 15px;
  left: 0;
  color: #91cacb;
  background-color: #465874;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
}

.project-descr {
  font-size: 10px;
}


.contact-container {
  display: flex;
  margin-bottom: 45px;
}

.contact-title {
  color: #465874;
  border-right: 7px solid #465874;
  padding-right: 20px;
  float: left;
  margin: 0 1.5%;
  margin-left: 8%;
  font-size: 30px;
  width: 15%;
}

.contact-content {
  width: 100%;
  font-size: 20px;
  margin-right: 8%;
}

.contact-content ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.contact-content li {
  margin: 0 10px;
  color: #465874;
}

.contact-content a {
  text-decoration: none;
  color: #465874;
}